<h1>{{title | lowercase}}</h1>
<h1>{{title | uppercase}}</h1>


<h1>{{ "Lorem ipsum dolor sit amet, consectetur adipisicing elit." | titlecase }}</h1>

<p>{{user | json}}</p>

<h1>{{ "Lorem ipsum dolor sit amet, consectetur adipisicing elit." | slice: 2 }}</h1>
<h1>{{ "Lorem ipsum dolor sit amet, consectetur adipisicing elit." | slice: 2: 6 }}</h1>

<p>{{somedate}}</p>
<p>{{somedate | date: 'short'}}</p>
<p>{{somedate | date: 'long'}}</p>
<p>{{somedate | date: 'long' | slice: 0: 9}}</p>
<p>{{somedate | date: 'medium'}}</p>
------------------------------------------------------------------------------------------------
//Eigene Pips
<p>{{"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
  sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
  ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
  aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
  est Lorem ipsum dolor sit amet. " | cutText}}</p>



<h1>{{ageOfUsers | sortData: 'age' | json}}</h1>








-----------------------------------------------------------------------------------------------
<h1>Das ist ein Test: {{title}}</h1>

<h2>Sein Name ist: {{user.name}}. Sein Alter ist: {{user.age}}</h2>
<hr>
<a href="#" title="user">{{tooltip}}</a>
<hr>
<div>
  <a href="#" [title]="tooltip">Link</a>
</div>
<hr>
<div>
  <a href="#" bind-title="tooltip">Link</a>
</div>

<!-- Styles -->
<hr>
<h3 class="red">Rot</h3>
<h3 style="color: red; background: aqua; cursor: pointer; font-size: 40px">Rot</h3>

-----------------------------------------------------------------------------------------

<h3 [class]="cssClass">Rot</h3>
<h3 [style]="inlineStyles">Rot</h3>


<p [style.width]="'50%'">Lorem ipsum dolor sit amet,
  consectetur adipisicing elit. Aut dolorem et quas rerum voluptatibus.
  At blanditiis distinctio ducimus eaque enim fuga, magni maxime quas.
  Assumenda beatae quaerat quas reiciendis voluptatibus.
</p>


<p [style.width]="withtext">Lorem ipsum dolor sit amet,
  consectetur adipisicing elit. Aut dolorem et quas rerum voluptatibus.
  At blanditiis distinctio ducimus eaque enim fuga, magni maxime quas.
  Assumenda beatae quaerat quas reiciendis voluptatibus.
</p>
--------------------------------------------------------------------------------------------------
<router-outlet></router-outlet>
