<form
  class="login-form__container"
  [formGroup]="form"
  (ngSubmit)="onSubmit($event)">
  <h1 class="h1 mb60">Вход</h1>
  <label class="tt-control-label m16">
    Telegram username
    <input formControlName="username" class="tt-input" type="text" placeholder="Введите логин ">
  </label>
  <label class="tt-control-label m32">
    Пароль
    <input formControlName="password" class="tt-input" type="email" placeholder="Введите пароль ">
  </label>
  <button class="btn btn-shadow" type="submit">Войти</button>
</form>
<img src="assets/svg/logo-big.svg" class="logo__login" alt="Logo">


